* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Alien Playlist';
  src: url('./font/AlienPlaylist.ttf') format('truetype');;
  font-weight: normal;
  font-style: normal;
}